/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@include mat.core();

:root {
  --primary-color: #3f51b5;
  --primary-color-rgb: 63, 81, 181;
  --accent-color: #ff4081;
  --accent-color-rgb: 255, 64, 129;
}

// Define your custom theme here
$my-primary: mat.define-palette(mat.$blue-palette);
$my-accent: mat.define-palette(mat.$light-blue-palette);
$custom-typography: mat.define-typography-config(
  $font-family: 'Nunito, sans-serif',
);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: $custom-typography,
 density: 0,
));

@include mat.all-component-themes($my-theme);

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  font-size: 0.875rem;
  line-height: 1.2;
}

body {
  font-family: 'Nunito', sans-serif;
}




